*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}
.wrapper{
    width: 450px;
    background: #fff;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .input-data{
    width: 100%;
    height: 40px;
    position: relative;
}

.wrapper .input-data input{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 17px;
}


.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform:translateY(-20px);
    font-size: 15px;
    color: red;
}
.wrapper .input-data label{
    position: absolute;
    left: 0;
    bottom: 20px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    }

.wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}


.input-data .underline:before{

    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}


.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
    transform: scaleX(1);
} 

.submit{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: all .8s;
}

.submit:hover{
    background-color: red;
    border: 1px solid white;
    color: white;
    transition: all .8s;
  
}